<%- disabled_fields = policy(@tag).disabled_fields %>
<%= simple_form_for @tag, url: (@tag.new_record? ? admin_tags_path : admin_tag_path) do |f| %>
  <%= render_component "error", object: @tag %>

  <%= f.input :name, class: "form-control",
              disabled: disabled_fields.include?(:name) %>

  <%= f.input :slug, class: "form-control",
              disabled: disabled_fields.include?(:slug) %>

  <%= f.input :description, class: "form-control",
              disabled: disabled_fields.include?(:description) %>

  <%= f.input :edit_permission,
              as: :radio_buttons,
              label_method: ->(val){ Tag.edit_permission_label(val) },
              hint: 'Users with this role will be granted access to assign this tag',
              disabled: disabled_fields.include?(:edit_permission) %>

  <%# = f.association :partners, input_html: { class: 'form-control select2' } %>

  <h2>Partners</h2>

  <p>Apply this tag to the given partner</p>

  <div class="partners">
    <%= f.simple_fields_for :partners do |partner| %>
      <%= render 'partner_fields', :f => partner %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Partner', f, :partners, class: "btn btn-primary btn-sm" %>
    </div>
  </div>

  <%= f.submit "Save", class: "btn btn-primary" %><br><br>
  <%# TODO: work out why this is failing %>
  <%# button_to "Destroy Tag", @tag, method: :delete, class: "btn btn-danger" %>
<% end %>
